<div class="px-4 py-5 my-5 text-center">
  <%= image_tag 'queen-bee.png', width: 190, height: 236, alt: 'Queen Bee', class: 'd-block mx-auto mb-4 wobble' %>

  <h1 class="display-5 fw-bold">WingClip</h1>

  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      In the olden days, Foursquare provided each user with a "Check-in Feed" URL, which would allow them to
      subscribe to their check-ins using their calendar application of choice. This feature was a great way
      to be able to look back on any day from your calendar and see where you were and remember what you were
      doing. Eventually, support for the feature died out. IFTTT has provided some level of alternative, but
      it only works with check-ins that are created after you set up the integration. WingClip is an alternative
      that can sync your entire check-in history—past, present, and future—to your Google calendar.
    </p>

    <% if signed_in_with_foursquare? %>
      <p class="text-muted">You're signed into Foursquare as <%= current_user.foursquare_name %> (User ID: <%= current_user.foursquare_id %>)</p>

      <% if signed_in_with_google? %>
        <p class="text-muted">You're signed into Google as <%= current_user.google_email_address %>.</p>
        <p class="text-muted">This means you're all set-up. Go check into some places!</p>
      <% else %>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <%= link_to 'Sign in with Google', oauth_google_authenticate_url, class: "btn btn-primary btn-lg px-4 gap-3", role: "button" %>
        </div>
      <% end %>
    <% else %>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <%= link_to 'Sign in with Foursquare', oauth_foursquare_authenticate_url, class: "btn btn-primary btn-lg px-4 gap-3", role: "button" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
